VITE_API_URL=http://localhost:8000/api/v1
VITE_FIREBASE_API_KEY=AIzaSyDm_CRa5rHMZeyK4XeWYq282UmStR1gK04
VITE_FIREBASE_AUTH_DOMAIN=camp-connect-v2.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=camp-connect-v2
VITE_FIREBASE_APP_ID=1:248641747999:web:62211279f6c90ae5bb292a
VITE_FIREBASE_MESSAGING_SENDER_ID=248641747999
